*, *:after, *:before{
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
}

.box-container{
    width: 250px;
    height: 250px;
    background: red;
    transition: all 0.2s ease-in-out;
    position: absolute;
}

.box-container.extend-box{
    width: 500px;
    height: 500px;
    bakcground: red;
}